<!DOCTYPE html>
<html></html>
<head>
    <title>User Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <table>
        <tr>
            <td><h2>Create an account...</h2><br></td>
        </tr>
        <tr>
            <td>
                <form action="/create_account/" method = "POST">
                    <h3>Choose a username:
                    <input type="text" name="username" id="username" required="required" autofocus="autofocus"></h3>
                    <h3>Choose a password:
                    <input type="text" name="password" id="password" required="required"></h3>
                    <h3>Type in your email-adress:
                    <input type="text" name="email" id="email" required="required"></h3>
                    <br>
                    <input type="submit" value="Create!">
                    <h1> </h1>
                </form>
            </td>
        </tr>
    </table>
    
    
</body>
</html>